form {

    display: grid;

    gap: 15px;

}

input,
select,
textarea {

    width: 100%;

    padding: 12px;

    border: 1px solid $border;

    border-radius: $radius;

    outline: none;

}

input:focus,
select:focus,
textarea:focus {

    border-color: $primary;

}

button {

    cursor: pointer;

    border: none;

    padding: 12px 20px;

    border-radius: $radius;

    transition: $transition;

    background: $primary;

    color: white;

}

button:hover {

    background: $primary-dark;

}

.search-box {

    display: flex;

    gap: 10px;

}

table {

    width: 100%;

    border-collapse: collapse;

}

th {

    background: $primary;

    color: white;

}

th,
td {

    padding: 15px;

    text-align: center;

    border-bottom: 1px solid $border;

}

tbody tr:hover {

    background: rgba(37,99,235,.05);

}

.cart-footer {

    margin-top: 20px;

    display: flex;

    justify-content: space-between;

    align-items: center;

}

.footer {

    background: $primary;

    color: white;

    padding: 20px;

    text-align: center;

}